:root {
    --color-primary: #f0e8d5;
    --color-secondary: #212842;
    --color-1: #f2f2eb;
    --color-2: #deded7;
    --color-5: #6471A1;
    --color-3: #928a97;
    --color-4: #f85f73;

    --indent-horizontal: 1.5rem;
    --indent-vertical: 1rem;


    --font-md: 18px;
    --font-lg: 14px;
    --font-sm: 12px;
}
